<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="archermind.ashare"
    android:versionCode="0"
    android:versionName="2.3" >

    <uses-sdk android:minSdkVersion="10" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="io.vov.vitamio.activity.InitActivity"            
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="archermind.dlna.household.RendererActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="archermind.dlna.household.DLNAPlayer"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape"/>
        <activity 
            android:name="archermind.dlna.household.ImageShow"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape" />
        <activity 
            android:name="archermind.dlna.household.AirTunesPlayer"
             android:launchMode="singleTask"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:screenOrientation="landscape" />
 		<activity
            android:name="com.archermind.ashare.mirror.ScreenDisplayActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
         	 android:screenOrientation="portrait"
         	 android:launchMode="singleTask">
            
        </activity>
                <service 
            android:name="archermind.dlna.household.RendererService"
            android:enabled="true"
            android:label="@string/app_name" >
             <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </service>
        <receiver android:name="com.archermind.ashare.AShareReceiver" >
		       <intent-filter>
		            <action android:name="android.intent.action.BOOT_COMPLETED" />	
		            <action android:name="android.intent.action.USER_PRESENT" />            
		            <category android:name="android.intent.category.HOME"/>
		       </intent-filter>
		     </receiver>
    </application>

</manifest>